@font-face {
  font-family: 'Berlin Sans FB Demi';
  src: url('./assets/fonts/berlin-sans-fb-demi/BRLNSDB.TTF') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat/static/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat/static/Montserrat-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Montserrat', sans-serif;
  }
}

.text-stroke-red {
  -webkit-text-stroke: 2px #ff446c;
  color: #ff446c;
}

.font-outline-red {
  -webkit-text-stroke: 1px #ef4444;
  color: transparent;
}

.font-outline-win {
  -webkit-text-stroke: 2px #FF1744;
  color: transparent;
  text-shadow: 2px 2px 0px rgba(255, 23, 68, 0.1);
}



